/* Groups Welcome Banner Styling */

.groups-welcome-banner {
  /* Rainbow gradient - customizable via theme settings */
  @if $use_gradient {
    background: linear-gradient(
      90deg,
      $gradient_color_1 0%,
      $gradient_color_2 16.66%,
      $gradient_color_3 33.33%,
      $gradient_color_4 50%,
      $gradient_color_5 66.66%,
      $gradient_color_6 100%
    );
  } @else {
    background: $gradient_color_1;
  }
  
  padding: $banner_padding;
  border-radius: $border_radius;
  margin-bottom: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.15);
  
  .banner-heading {
    font-size: $heading_font_size;
    font-weight: bold;
    color: white;
    margin: 0 0 1rem 0;
    line-height: 1.2;
    
    @if $text_shadow_enabled {
      text-shadow: 
        0 0 $inner_glow_size rgb(255 255 255 / $inner_glow_opacity),
        $shadow_offset_x $shadow_offset_y $shadow_blur rgb(0 0 0 / $shadow_opacity);
    }
    
    @if $text_glow_enabled {
      text-shadow: 
        0 0 $inner_glow_size rgb(255 255 255 / $inner_glow_opacity),
        $shadow_offset_x $shadow_offset_y $shadow_blur rgb(0 0 0 / $shadow_opacity),
        0 0 20px rgb(0 0 0 / 0.4);
    }
  }
  
  .banner-subheading {
    font-size: $subheading_font_size;
    color: white;
    margin: 0;
    line-height: 1.4;
    
    @if $text_shadow_enabled {
      text-shadow: 
        0 0 $inner_glow_size rgb(255 255 255 / $inner_glow_opacity),
        $subheading_shadow_offset $subheading_shadow_offset $subheading_shadow_blur rgb(0 0 0 / $shadow_opacity);
    }
    
    @if $text_glow_enabled {
      text-shadow: 
        0 0 $inner_glow_size rgb(255 255 255 / $inner_glow_opacity),
        $subheading_shadow_offset $subheading_shadow_offset $subheading_shadow_blur rgb(0 0 0 / $shadow_opacity),
        0 0 15px rgb(0 0 0 / 0.4);
    }
  }
  
  /* Mobile responsive */
  @media screen and (max-width: 768px) {
    padding: 2rem 1.5rem;
    
    .banner-heading {
      font-size: calc(#{$heading_font_size} * 0.7);
    }
    
    .banner-subheading {
      font-size: calc(#{$subheading_font_size} * 0.9);
    }
  }
}
